*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* CSS VARIABLES ------------------------------------------------------- */
:root{
    
   
}
html, body{
    width: 100%;
}

/* PAGE LAYOUT---------------------------------------------------- */

.container{
    height: 100%;
}


/* GENERAL FORMATING----------------------------------------------- */
.popular-products{
    padding: 1rem;
    height: 100%;
}

/* SECTIONS ------------------------------------------------------- */
.popular-products .card-small{
    height: 100%;
    padding: 0.3rem;
    width: 100%;
}
.popular-products h2{
    font-weight: 300;
}

/* PRODUCT CARDS SECTION------------------------------------------------------- */

.popular-products .card-title{
    font-size: 20px;
}
.popular-products .card-content{
  width: 100%;
  height: auto;
}
.popular-products .card-category{
    font-size: 12px;
    color: red;
    margin: 0.5rem;
}
.popular-products .card-content p{
    font-size: 13px;
    margin-top: 1rem;
    color: grey;
    font-weight: 300;

    
}
.popular-products a{
  margin-top:1rem;
  font-size: 18px;
  
  
}

/* PRODUCT LIST SECTION---------------------------------------------------- */

.product-list{
    padding: 2rem;
}
















/* FOOTER SECTION ------------------------------------------ */


footer h5{
margin-bottom: 1rem;;
}

footer a:hover{
    text-decoration: underline;
    color:red;
}


.footer-copyright a{
    padding: 0 1rem;
}


/* COMPONENTS ------------------------------------------------------ */




