*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#bcaaa4;
    --color-secondary:#f8aa91;
    --color-btn:#00796b;
    --color-btn:rgb(22, 88, 85);
}
/* -------------------------------HEADER START---------------------------------- */

/* GENERAL FORMATING----------------------------------------------- */
nav{
    height:65px;

}

nav img{
    margin: 5px;
    margin-left: 10px;
}

nav li:hover{
    background-color: #00796b;
}

  
 nav a:hover{
    font-size: 20px;
    color:#5d4037;
    font-weight: bold;

}

  
  /* BANNER SECTION ------------------------------------------------------- */

  .banner{
    margin:0;
    padding: 0;
    height:300px; 
    background: 97% / 21% no-repeat url("../images/fond.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    background: 95% / contain no-repeat url("./images/fond.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    box-shadow: 10px 5px 5px rgb(114, 113, 113);
    text-align: center;  
}

.banner-cayegory-webapp{
    background: 92% / 28% no-repeat url("../images/fond-webapp.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    box-shadow: 10px 5px 5px rgb(114, 113, 113);
    text-align: center; 
    margin:0;
    padding: 0;
    height:300px; 
}

.banner-cayegory-photography{
    background: 94% / 27% no-repeat url("../images/fond-photography.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    box-shadow: 10px 5px 5px rgb(114, 113, 113);
    text-align: center; 
    margin:0;
    padding: 0;
    height:300px; 
}


.banner-cayegory-mac{
    background: 90% / 15% no-repeat url("../images/fond-mac.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    box-shadow: 10px 5px 5px rgb(114, 113, 113);
    text-align: center; 
    margin:0;
    padding: 0;
    height:300px; 
}

.banner-cayegory-game{
    background: 95% / 15% no-repeat url("../images/fond-game.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    box-shadow: 10px 5px 5px rgb(114, 113, 113);
    text-align: center; 
    margin:0;
    padding: 0;
    height:300px; 
}

.banner-cayegory-book{
    background: 97% / 27% no-repeat url("../images/fond-book.png"), linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
    box-shadow: 10px 5px 5px rgb(114, 113, 113);
    text-align: center; 
    margin:0;
    padding: 0;
    height:300px; 
}
  
  .banner h1{
    font-size: 90px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
    color:#5d4037; 
    font-family: 'Anton', sans-serif;
}

.banner button{
    display: inline-block;
    background-color: rgb(22, 88, 85);
    border-radius: 5px;
    font-size: 17px; 
    color:rgba(244, 165, 140); 
    font-weight: bold;
}

.banner button:hover{
    color:#5d4037;
    font-weight: bold;
}

.apptitle{
    margin-top: 90px;
    font-family: 'Anton', sans-serif;
    font-size: 100px; 
    color:#5d4037;
}

.form-content{
    width:400px;
    margin:0 auto;
    display: flex;
    justify-content: center;  
}

.form-content span{
    font-size: 10px;
    font-style: italic;
}  


.banner span{
    color:rgb(93, 93, 93);
    font-weight: bold;
    font-size: 40px;  
}
  
  

/* @media ------------------------------------------------------- */
  
  @media all and (max-width: 1024px){
    
    
    body{
        width:auto;   
    }
    
    .banner{
        width:100%;
        height:auto;  
    }

    .banner h1{
        font-size: 70px;
    }

    .banner button{
        padding-left:5px;
        padding-right:5px;
        margin:0 auto;  
    }

    span{
    font-size: 30px;  
    }
   
    .banner{  
        background:linear-gradient(rgba(93, 64, 55, 0.8), rgba(244, 165, 140, 0.3));     
        } 
}
/* -------------------------------HEADER END---------------------------------- */
  
/* PAGE LAYOUT---------------------------------------------------- */

.container{
    height: 100%;
}

/* GENERAL FORMATING----------------------------------------------- */

h2{
    font-weight: 300;
    font-size: 35px;
    color:#5d4037;
    font-weight: bold;
    padding-bottom: 10px;
    font-style: italic;
}
  
 
  
/* SECTIONS ------------------------------------------------------- */

   
  .popular-products{
    padding: 1rem;
    height: auto;
    background-color: transparent;
    background: rgb(241,175,135);
    background: linear-gradient(0deg, rgba(241,175,135,1) 31%, rgba(255,255,255,1) 31%);
}
/* PRODUCT CARDS SECTION------------------------------------------------------- */
.category{
    margin-top: 50px;
    margin-bottom: 50px;

}


.card-container{
    display: flex;
    justify-content: space-between; 
}
.card{
    height: 100%;
    width: 100%;
}
.card-img-holder{
  width: 100%;
    
}
.card-img-holder img{
    width: 100%;
    padding: 0.5rem;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 250px;
    padding: 0.3rem;
}

.card-info .card-title{
    font-size: 19px;
    display: block;
}

.card-info .card-category{
    font-size: 13px;
    color: var(--color-secondary);
    margin: 0.3rem;
}

.card-info p{
    font-size: 13px;
    margin-top: 1rem;
    color: grey;
    font-weight: 300;
}

/* PRODUCT LIST SECTION---------------------------------------------------- */

.product-list, .product-list{
    padding: 2rem 1rem;
}

.popular-list .title, .product-list .title{
    color: black;
    font-size: 3rem;
    font-weight: 600;
}

.popular-list p, .product-list p{
    color: gray;
    font-size: 1rem;
    font-weight: 300;
}

/* BUTTONS ----------------------------------------------------- */

.card-info .btn{
    width: 50%;
    margin: 0 auto;
}

.product-list .upvote-btn{
    width: 100px;
}


/* FOOTER SECTION ------------------------------------------ */


footer h5{
margin-bottom: 1rem;;
}

footer a:hover{
    text-decoration: underline;
}


.footer-copyright a{
    padding: 0 1rem
}
      
/*----------------------------PRODUCT LIST SECTION------------------------------*/

.product-list, .product-list{
    padding: 2rem 1rem;
}

.popular-list .title, .product-list .title{
    color: black;
    font-size: 3rem;
    font-weight: 600;
}

.popular-list p, .product-list p{
    color: gray;
    font-size: 1.1rem;
    font-weight: 300;
}
.divider{
    margin: 4rem;
    width: 50%;
    text-align: center;
}

  /* MEDIA QUERIES ------------------------------------------------------ */

/* small devices */
@media (min-width: 576px) {

 }

/* // Medium devices  */
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}

